<div>
  <mat-form-field class="width-full">
    <input matInput 
      #matInput="matInput"
      [placeholder]="placeholder" 
      [matAutocomplete]="auto" 
      [ngModel]="filterText" 
      (ngModelChange)="filterOptions($event)" 
      [disabled]="disabled" 
      [ngModelOptions]="{standalone: true }"
      (blur)="onBlur();">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" 
    (optionSelected)="optionSelected($event);"
    autoActiveFirstOption >
      <mat-option *ngFor="let option of filteredOptions" [value]="option[dataField]">
          {{option[labelField]}}
      </mat-option>
  </mat-autocomplete>
</div>
