<loading-bar [visible]="isLoading"></loading-bar>
<div class="ui-g">

  <!-- HEADER -->
  <div class="ui-g-12 ta-c">
    <h1 class="page-header mt-0">Request Password Reset</h1>
  </div>

  <div class="ui-g-12 ui-md-4 ui-md-offset-4 card pad-30">
    <div *ngIf="!hasPasswordRequestBeenSent">
      <form (ngSubmit)="submitClicked()" #resetPasswordForm="ngForm">
        <div class="text-muted pb-30">
          Enter your user name.  If it exists in our system you will be sent an
          email with a link to change your password.
        </div>

        <span class="md-inputfield">
          <input name="username" #usernameField="ngModel" class="width-full"
              [(ngModel)]="username" [required]="true" type="text"
              pInputText>
          <label>Username</label>
        </span>

        <div class="ui-message ui-messages-error ui-corner-all"
              *ngIf="usernameField.errors?.required && usernameField.touched" >
              User Name is required
        </div>

        <button type="submit"
              label="Request Password Reset"
              icon="ui-icon-refresh"
              [disabled]="!resetPasswordForm.form.valid"
              class="mt-15 width-full" pButton></button>

        <div class="smaller text-muted pt-30">
          Remembered your password?  Click <a [routerLink]="['/login']">here to log in</a>.
        </div>
      </form>
    </div>

    <div *ngIf="hasPasswordRequestBeenSent" class="text-muted">
      Your request for a password reset has been sent.  If your email address is in our system you
      will receive an email shortly with instructions on how to reset your password.
    </div>

  </div>
</div>

