<loading-bar [visible]="isLoading"></loading-bar>

<div *ngIf="!hasPasswordRequestBeenSent">
  <form (ngSubmit)="submitClicked()" #resetPasswordForm="ngForm">
    <div>
      Enter your user name.  If it exists in our system we will allow you to update your password.
    </div>
    <div>
      <label for="username">User Name:</label>
      <input id="username" 
        name="username" 
        [(ngModel)]="username" 
        #usernameField="ngModel"
        required>
    </div>
    <div class="ui-message ui-messages-error ui-corner-all"
          *ngIf="usernameField.errors?.required && usernameField.touched" >
          User Name is required
    </div>
    <div>
      <button type="submit" [disabled]="!resetPasswordForm.form.valid">Submit</button>
    </div>
    <div>
      Remembered your password?  Click <a [routerLink]="['/login']">here to log in</a>.
    </div>
  </form>
</div>

<div *ngIf="hasPasswordRequestBeenSent">
  Your request for a password reset has been sent.  If your email address is in our system you 
  should receive an email shortly with instructions on how to reset your password.
</div>