$primaryColor: #1A87BF;
$primaryDarkColor: #085981;
$primaryLightColor: #66ACE2;
$accentColor: #25BF6B;
$accentDarkColor: #0e7c5b;
$accentLightColor: #a2eec4;
$accentTextColor: #ffffff;

$buttonColor: #25BF6B;
$buttonHover: #0e7c5b;
$brandColor: #BF2E1A;

@import '../../assets/layout/css/layout-tt2.scss';
@import '../sass/theme/_theme';