::ng-deep p-dialog .ui-dialog {
  overflow: scroll;
  max-height: 80%;
}

// ::ng-deep p-datatable .ui-datatable {
//   overflow: scroll;
//   max-height: 280px;
// }

::ng-deep p-panel.conflict-table .ui-panel .ui-panel-content  {
  padding: 0 !important;
}

::ng-deep .clear-btn.ui-button.ui-button.ui-button-icon-only {
  width: 2em;
  height: 2em;
  box-shadow: none;
  background: #f1f1f1;
  &.ui-button-text-icon-left{
    padding-left: 1.4em;
  }
}

.card h2 {
  font-weight: 300;
  text-transform: uppercase;
}

::ng-deep .ui-button.ui-fileupload-choose {
  background-color: white;
  color: #444444;
}

.feature-box {
  background-color: #a6d5f1;
  border-radius: 5px;
  p {
    color: #0b5582;
    font-size: 1.1em;
    text-align: center;
    margin: 5px 0 10px;
  }
}


.feature-box-inner {
  background-color: white;
  padding: 10px;
}

.abs-btn {
  position: absolute;
  right: -5px;
  top: 30px;
  font-size: 0.9em;
}

::ng-deep .ui-fileupload-override .ui-widget-header {
  background-color: inherit !important;
  border: none !important;
}

::ng-deep .ui-fileupload-override .ui-widget-content {
  border: none !important;
  overflow: auto !important;
}

::ng-deep .ui-fileupload-override .ui-messages-error {
  font-size: 13.5px;
  padding-right: 30px !important;
}
