<div class="ui-g-4 ui-sm-12 mt-25">
  <h2 class="mt-0" style="margin-bottom:35px;">{{tableLabel}}s </h2>

  <mat-selection-list #itemsList (selectionChange)="onSelectionChange($event)" class="items-list">
    <mat-list-option *ngFor="let item of typeItems; let i=index; let itm = item;" [class.hi]="selected" [value]="item">
      {{ item.poolName }}
    </mat-list-option>
  </mat-selection-list>

  <button mat-raised-button color="primary" (click)="createNewItem()" class="mt-15 width-full">
    <mat-icon aria-label="Add data item button">add</mat-icon>
    New Data Item
  </button>
</div>

<div class="ui-g-8 ui-sm-12">
  <div class="ui-g-6">
    <h2 class="">{{tableLabel}}</h2>
  </div>
  <div class="ui-g-6 ta-r">
    <!--  nothing to see hear, folks -->
  </div>

  <div class="ui-g-12">
    <!-- -->
    <div class="card" style="min-height:322px;" *ngIf="selectedItem">

      <form (ngSubmit)="saveDataItem()" #tplForm="ngForm" novalidate>
        <div class="ui-g form-group">

          <!-- NAME -->
          <div class="ui-g-12">
            <mat-form-field class="width-full">
              <input matInput name="tiName" #tiName="ngModel" placeholder="Name" [required]="true" [(ngModel)]="selectedItem.poolName">
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="tiName.errors?.required && tiName.touched">
                Please enter a Staff Pool Name
              </div>
            </mat-form-field>
          </div>
          <!-- SAVE / CANCEL BUTTONS -->
          <div class="ui-g-12 ta-r">
            <button type="button"
                    (click)="deleteDataItemRequest()"
                    [disabled]="!selectedItem.poolOID"
                    label="Delete"
                    icon="ui-icon-delete"
                    class="ui-button-danger fl"
                    pButton></button>
            <button type="button"
                    (click)="saveDataItem()"
                    [disabled]="!tplForm.form.valid"
                    label="Save"
                    icon="ui-icon-check"
                    class="secondary"
                    pButton></button>
            <button type="button"
                    (click)="cancelDataItemEdit($event)"
                    label="Cancel"
                    icon="ui-icon-clear"
                    class="ui-button-secondary" pButton></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<p-dialog header="Confirm Delete?" width="450" [(visible)]="showDeleteItemModal" [responsive]="true" showEffect="fade"
  [modal]="true" [closable]="false">
  <div>Are you sure you want to delete this item?</div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button label="No" type="button" pButton icon="fa-close" (click)="hideModals()"></button>
      <button label="Yes" type="button" pButton icon="fa-check" (click)="deleteDataItem()"></button>
    </div>
  </p-footer>
</p-dialog>
