<loading-bar [visible]="isLoading"></loading-bar>


<div class="ui-g">

    <!-- HEADER -->
    <div class="ui-g-12 ta-c">
      <h1 class="page-header mt-0">Reset Password</h1>
    </div>

    <div class="ui-g-12 ui-md-4 ui-md-offset-4 card pad-30">

      <form (ngSubmit)="submitClicked()" #newPasswordForm="ngForm">

        <div class="pv-30">
          <span class="md-inputfield">
            <input name="username" #usernameField="ngModel" class="width-full"
                [(ngModel)]="username" [required]="true" type="text"
                pInputText>
            <label>Username</label>
          </span>

          <div class="ui-message ui-messages-error ui-corner-all"
                *ngIf="usernameField.errors?.required && usernameField.touched" >
                User Name is required
          </div>
        </div>


        <!-- <div>
          <label for="username">User Name:</label>
          <input id="username"
            name="username"
            [(ngModel)]="username"
            #usernameField="ngModel"
            required>
        </div>
        <div class="ui-message ui-messages-error ui-corner-all"
              *ngIf="usernameField.errors?.required && usernameField.touched" >
              User Name is required
        </div> -->

        <div class="pb-30">

          <span class="md-inputfield">
            <input name="password" #passwordField="ngModel" class="width-full"
                [(ngModel)]="password" [required]="true" type="password"
                pInputText>
            <label>New Password</label>
          </span>

          <!-- <label for="password">Password:</label>
          <input id="password"
            name="password"
            [(ngModel)]="password"
            #passwordField="ngModel"
            type="password"
            required> -->
          <div class="ui-message ui-messages-error ui-corner-all"
                *ngIf="passwordField.errors?.required && passwordField.touched" >
                Password is required
          </div>
        </div>

        <div class="pb-20">
          <span class="md-inputfield">
            <input name="confirmPassword" #confirmPasswordField="ngModel" class="width-full"
                [(ngModel)]="confirmPassword" [required]="true" type="password"
                pInputText>
            <label>Confirm Password</label>
          </span>


          <!-- <label for="confirmPassword">Confirm Password:</label>
          <input id="confirmPassword"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            #confirmPasswordField="ngModel"
            type="password"
            required> -->
          <div class="ui-message ui-messages-error ui-corner-all"
                *ngIf="confirmPassword != password && confirmPasswordField.touched" >
                Password and Confirmation must match
          </div>
        </div>
        <div class="pb-20" >
            <button type="submit"
                    label="Reset Password"
                    icon="ui-icon-refresh"
                    [disabled]="!newPasswordForm.form.valid"
                    class="mt-15 width-full" pButton></button>
          <!-- <button type="submit" [disabled]="!newPasswordForm.form.valid">Submit</button> -->
        </div>
        <div class="mt-30 text-muted smaller">
          Remembered your password?  Click <a [routerLink]="['/login']">here to log in</a>.
        </div>
      </form>
    </div>

</div>

