<loading-bar [visible]="isLoading"></loading-bar>
<form (ngSubmit)="submitClicked()" #newPasswordForm="ngForm">
  <div>
    <label for="username">User Name:</label>
    <input id="username" 
      name="username" 
      [(ngModel)]="username" 
      #usernameField="ngModel"
      required>
  </div>
  <div class="ui-message ui-messages-error ui-corner-all"
        *ngIf="usernameField.errors?.required && usernameField.touched" >
        User Name is required
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" 
      name="password" 
      [(ngModel)]="password" 
      #passwordField="ngModel"
      type="password"
      required>
  </div>
  <div class="ui-message ui-messages-error ui-corner-all"
        *ngIf="passwordField.errors?.required && passwordField.touched" >
        Password is required
  </div>
  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" 
      name="confirmPassword" 
      [(ngModel)]="confirmPassword" 
      #confirmPasswordField="ngModel"
      type="password"
      required>
  </div>
  <div class="ui-message ui-messages-error ui-corner-all"
        *ngIf="confirmPassword != password && confirmPasswordField.touched" >
        Password and Confirmation must match
  </div>
  <div>
    <button type="submit" [disabled]="!newPasswordForm.form.valid">Submit</button>
  </div>
  <div>
    Remembered your password?  Click <a [routerLink]="['/login']">here to log in</a>.
  </div>
</form>